[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd

[Service]
User=etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000
ExecStart={{ etcd_binary_path | quote }} \
  --client-cert-auth \
  --peer-client-cert-auth \
  --enable-v2 \
  --name={{ ansible_hostname }} \
  --data-dir={{ etcd_datadir | quote }} \
  --initial-advertise-peer-urls=https://{{ ansible_hostname }}.{{ ansible_domain }}:2380 \
  --listen-peer-urls=https://0.0.0.0:2380 \
  --listen-client-urls=https://0.0.0.0:2379,https://0.0.0.0:4001 \
  --advertise-client-urls=https://{{ ansible_hostname }}.{{ ansible_domain }}:2379,https://{{ ansible_hostname }}.{{ ansible_domain }}:4001 \
  --initial-cluster-token={{ etcd_initial_cluster_token | quote }} \
  --initial-cluster={% for item in groups['k8s'] %}{{ item + '=https://' + item + '.' + ansible_domain + ':2380,' }}{% endfor %} \
  --initial-cluster-state={{ etcd_initial_cluster_state | quote }} \
  --heartbeat-interval={{ etcd_heartbeat_interval | quote }} \
  --election-timeout={{ etcd_election_timeout | quote }} \
  --trusted-ca-file={{ etcd_cacertfile_path | quote }} \
  --cert-file={{ etcd_certfile_path | quote }} \
  --key-file={{ etcd_keyfile_path | quote }} \
  --peer-trusted-ca-file={{ etcd_cacertfile_path | quote }} \
  --peer-cert-file={{ etcd_certfile_path | quote }} \
  --peer-key-file={{ etcd_keyfile_path | quote }}

[Install]
WantedBy=multi-user.target
