[Unit]
Description=Kubernetes Proxy Server
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
Restart=on-failure
RestartSec=5s
StartLimitInterval=0
KillMode=process
ExecStart={{ (k8s_binaries_path + '/kube-proxy') | quote }} \
  --proxy-mode=iptables \
  --logtostderr=false \
  --v=2 \
  --kubeconfig={{ k8s_kubeproxy_kubeconfig | quote }} \
  --cluster-cidr={{ k8s_pod_network | quote }} \
  --log-dir={{ k8s_logsdir | quote }}

[Install]
WantedBy=multi-user.target
