[Unit]
Description=Network fabric for containers
Documentation=https://github.com/coreos/flannel
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service
Before=docker.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/flanneld \
  -etcd-endpoints={% set c = [] %}{% for k, v in k8s_config._virtual.inventory | dictsort %}{% set d = c.append('http://' + k + '.' + k8s_config.virtual.domain + ':4001') %}{% endfor %}{{ c | join(',') }} \
  -ip-masq=true \
  -iface=eth1 \
  -public-ip={{ k8s_config._virtual.inventory[ansible_hostname] }} \
  2>&1

[Install]
WantedBy=multi-user.target